@import "@/styles/variables.module.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/media.module.scss";
@import "@/styles/tipography.module.scss";
@import "@/components/cta.module.scss";

.portada {
}

.medio {
  @extend %medio;
  img {
    aspect-ratio: 1/1;
    @include mq(md) {
      aspect-ratio: 3.2/1;
    }
  }
}

.info {
  @include container();
  margin-bottom: $space-thin;
  margin-top: $space-thin;
  @include mq(md) {
    margin-bottom: $space-small;
    margin-top: $space-small;
  }
}

.title {
  font-weight: 900;
  margin-top: initial;
}

.cliente {
  margin-bottom: initial;
  font-weight: 400;
  color: $secondary-light;
  @include h4m();
}

.caption {
  max-width: 80rem;
}

.contenido {
  width: 100%;
}
