@import "@/styles/variables.module.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/media.module.scss";
@import "@/components/cta.module.scss";
@import "@/styles/tipography.module.scss";

.container {
  @include container();
}

.title {
  @include titleDeco();
}

.subTitleLabel {
  text-transform: uppercase;
  color: $secondary-light;
  margin: 0;
  margin-bottom: 0rem;
  @include h6m();
}

.subTitle {
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

.cover {
}

.coverVideo {
  width: 100%;
}

.proyectos {
}

.proyectosLista {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr;
  @include mq(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.proyecto {
  position: relative;
  display: block;
  margin-bottom: $space-thin;
  @include mq(xl) {
    margin: initial;
  }

  &:hover {
    .proyectoInfo {
      @include mq(lg) {
        transition: all 0.25s ease-in-out;
        opacity: 1;
      }
    }
  }

  .proyectoMedio {
    @extend %medio;
    img {
      aspect-ratio: 4/5;
      @include mq(md) {
        aspect-ratio: 3.2/1;
      }
      @include mq(xl) {
        aspect-ratio: 4/5;
      }
    }
  }

  &:nth-of-type(odd) {
    @include mq(md) {
      .proyectoInfo {
        left: 0;
      }
    }
  }

  &:nth-of-type(even) {
    @include mq(md) {
      .proyectoInfo {
        right: 0;
      }
    }
  }

  &:first-of-type,
  &:nth-of-type(2) {
    @include mq(xl) {
      grid-column: 1 / span 4;
    }
    margin-bottom: $space-thin;
    .proyectoInfo {
      @include mq(xl) {
        width: 50%;
        position: absolute;
      }
    }
    .proyectoMedio {
      @extend %medio;

      img {
        @include mq(xl) {
          aspect-ratio: 3.2/1;
        }
      }
    }
  }
  .proyectoInfo {
    position: absolute;
    bottom: 0;
    background-color: $primary-base;
    color: white;
    padding: $space-thin $space-thin;
    width: 100%;
    @include mq(md) {
      width: 80%;
    }
    @include mq(lg) {
      opacity: 0;
    }

    @include mq(xl) {
      width: 100%;
    }
    h3 {
      @include h5m();
      font-weight: 800;
      margin: 0;
      @include mq(md) {
        max-height: 2.7rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    h4 {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      margin: 0;
    }
  }
}

.proyectosMore {
  margin: $space-thin auto;
  text-align: center;
}

.proyectosMoreBtn {
  @include cta();
}

.statement {
  margin: $space-medium auto;
}

.statementContainer {
  display: grid;
  gap: 3rem;
  align-items: center;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.statementMedio {
  @extend %medio;
  padding-bottom: 100%;
}

.servicios {
  margin: $space-medium auto;
}

.listaServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 4rem;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.servicioMedio {
  @extend %medio;
  max-width: 10rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  img {
    object-fit: contain;
  }
}

.servicioTitle {
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}

.servicioCopy {
  text-align: center;
}

.clientes {
  margin: $space-medium auto;
}

.listaClientes {
  background-color: $primary-base;
  padding: 4rem 0;
  margin-top: 3rem;
}

.listaClientesContainer {
  @include container();
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;

  @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include mq(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.clienteMedio {
  @extend %medio;
  background-color: initial;
  aspect-ratio: 16/9;

  img {
    padding: 1.5rem;
    object-fit: contain;
    aspect-ratio: inherit;
    color: white;
    svg {
      color: inherit;
    }
  }
}

.contacto {
  position: relative;
  margin: $space-medium 0;

  svg {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $primary-base;
    width: 60%;
    transform: translate(50%, 80%);
    @include mq(lg) {
      max-width: 75rem;
    }
  }
}

.contactoContainer {
  display: grid;
  gap: 3rem;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.contactoInfo {
  a,
  p {
    display: block;
    margin: 0.5rem 0;
  }

  p {
    margin-top: 4rem;
  }
}
