@import "../styles/mixins.scss";
@import "../styles/grid.module.scss";
@import "../components/cta.module.scss";

.header {
  visibility: visible;
}

.wrapper {
  position: fixed;
  z-index: 100;
  transition: background 0.2s ease-in-out;
  padding: 1rem 0;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.75rem);
  background-color: rgba(255 255 255 / 0.7);

  @include mq(lg) {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    position: fixed;
  }
}

.container {
  @include containerFluid();
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.logo {
  visibility: visible;
  width: 100%;
  position: relative;
  z-index: 20001;
  transform-origin: center top;
  width: 6rem;
  transform-origin: center center;
  @include mq(lg) {
    width: 7rem;
  }
  img {
    aspect-ratio: 1/0.85;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 7.25%;
    margin-bottom: 5%;
    position: relative;
    object-fit: contain;
    margin: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-auto-flow: column;
  gap: 1.5rem;
  visibility: visible;
  width: 100%;
  @include mq(lg) {
    min-height: 100%;
    align-items: center;
    /* padding: 0.5rem 0; */
  }
}

.gatgets {
  display: flex;
  align-items: center;
  border-radius: 50%;
  gap: 0.5rem;
}

.portalButton {
  @include cta();
  display: none;
  border-radius: 50rem;
  padding: 1rem 2rem;
  @include mq(sm) {
    display: block;
  }
}

.menuButton {
  @include mq(lg) {
    display: none;
  }
}

.modal {
  @include mq(lg) {
    display: none;
  }
}
