@import "./grid.module.scss";
@import "./mixins.scss";
@import "./variables.module.scss";

@mixin h1m {
  font-weight: 900;
  text-transform: uppercase;
  color: $h1;
  font-size: 2.8rem;

  @include mq(sm) {
    font-size: 3.2rem;
  }
  @include mq(md) {
    font-size: 3.4rem;
  }
  @include mq(lg) {
    font-size: 3.6rem;
  }
  @include mq(xl) {
    font-size: 4rem;
  }
}

@mixin h2m {
  color: $h2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
  @include mq(sm) {
    font-size: 2.6rem;
  }
  @include mq(md) {
    font-size: 2.8rem;
  }
  @include mq(lg) {
    font-size: 3.2rem;
  }
  @include mq(xl) {
    font-size: 3.5rem;
  }
}

@mixin h3m {
  text-transform: uppercase;
  color: $h3;
  font-weight: 600;
  font-size: 2.2rem;

  @include mq(sm) {
    font-size: 2.4rem;
  }

  @include mq(md) {
    font-size: 2.6rem;
  }

  @include mq(lg) {
    font-size: 3rem;
  }

  @include mq(xl) {
    font-size: 3.2rem;
  }
}

@mixin h4m {
  font-weight: 600;
  color: $h4;
  font-size: 2rem;

  @include mq(sm) {
    font-size: 2.2rem;
  }

  @include mq(md) {
    font-size: 2.4rem;
  }

  @include mq(lg) {
    font-size: 2.8rem;
  }

  @include mq(xl) {
    font-size: 3rem;
  }
}

@mixin h5m {
  color: $h5;
  font-weight: 600;
  font-size: 1.8rem;

  @include mq(sm) {
    font-size: 2rem;
  }

  @include mq(md) {
    font-size: 2.2rem;
  }

  @include mq(lg) {
    font-size: 2.6rem;
  }

  @include mq(xl) {
    font-size: 2.8rem;
  }
}

@mixin h6m {
  letter-spacing: 0.03125em;
  text-transform: uppercase;
  font-weight: 600;
  color: $h6;
  font-size: 1.7rem;

  @include mq(sm) {
    font-size: 1.8rem;
  }

  @include mq(md) {
    font-size: 2rem;
  }

  @include mq(lg) {
    font-size: 2.4rem;
  }

  @include mq(xl) {
    font-size: 2.6rem;
  }
}

@mixin titleDeco {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3.5rem;
    left: 0;
    width: 8rem;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: $primary-base;
  }
}
