@import "@/styles/variables.module.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/media.module.scss";
@import "@/components/cta.module.scss";

.container {
  display: block;
  max-width: 192rem;
  margin: 0 auto;
}

.imagen {
  width: 100%;
}
