@import "@/styles/variables.module.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/media.module.scss";
@import "@/components/cta.module.scss";

.container {
  display: grid;
  @include mq(md) {
    grid-template-columns: 1fr 1fr;
    max-width: 192rem;
    margin: 0 auto;
  }
}
